body{
    background: url(images/resto.jpg)
    no-repeat center center fixed;
    background-size: cover;
    font-family: sans-serif;
}
header{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
h2{
    float: left;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}
nav{
    float: right;
}
li{
    display: inline;
    padding: 1rem;
}
li a{
    color:black;
    text-decoration: none;
    font-weight: bold;
}
.active2{
    color: gold;
}
.container{
    width: 70%;
    margin: auto;
    overflow: hidden;
    margin-top: 1%;

}
.btn{
    background-color:goldenrod;
    color: #ffffff;
    padding: 1rem;
    border: none;
    border-radius: 8px;
    margin-left: 45%;
}
.resto{
    width: 800px;
    background-color: rgba(5, 0, 0, 0.781);
    text-align: center;
    padding: 40px;
    margin: auto;
    margin-top: 3%;
    color: #ffffff;
    font-family: serif;
    border: 4px;
}
.resto-img{
    width: 200px;
    height: 200px;
}
.resto-h1{
    font-family: cursive;
}